@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-defacto-cream text-defacto-green antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

/* Custom Scrollbar for Chrome/Safari/Webkit */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-defacto-green/5;
}
::-webkit-scrollbar-thumb {
  @apply bg-defacto-gold/50 rounded-full hover:bg-defacto-gold;
}
